Repository khoi-nguyen/mathsnuggets, pull requests merged in 2020-07, with the labels that each got.

#18 Quadratic Equations generator
  mathsnuggets/widgets/quadratic_equations.py
Labels: Python, Widgets

#25 Geometry support: triangles
  Makefile
  mathsnuggets/core/fields.py
  mathsnuggets/widgets/plot.py
  mathsnuggets/widgets/triangle.py
  pytest.ini
  src/FormField.vue
  src/Widget.vue
  tests/test_widgets.py
Labels: Python

#27 end-to-end
  mathsnuggets/core/api.py
  src/Environment.vue
  src/NavBar.vue
  src/Node.vue
  src/Widget.vue
  src/tests/create_slideshow.js
  tests/test_api.py
Labels: Javascript, test
